---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$footer-background-color: #ebb5ea!default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials